{% comment %} Related Blogs Snippet {% endcomment %}
{% assign current_handle = current_article.handle %}

<section class="pb-12 md:pb-16 lg:pb-24 mx-auto px-12 lg:px-24">
  <h2 class="text-2xl md:text-5xl md:leading-[4rem] font-light text-center mb-6 md:mb-12 font-catalina">Related More Blogs</h2>

  <div class="grid gap-6 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
    {% assign count = 0 %}
    {% for article in blog.articles %}
      {% if article.handle != current_handle %}
        {% assign count = count | plus: 1 %}
        {% if count <= 4 %}
          <div class="p-4 bg-neutral-100 flex flex-col items-start gap-4">
            <!-- Blog Image -->
            <a href="{{ article.url }}" class="block w-full">
              <img 
                src="{{ article.image | image_url: width: 480, height: 480}}" 
                alt="{{ article.title }}" 
                width="480" height="480"
                class="w-full h-64 object-cover" />
            </a>

            <!-- Blog Text Content -->
            <div class="w-full flex flex-col items-start gap-2">
              <h3 class="w-full text-primary text-lg font-semibold leading-7">
                {{ article.title }}
              </h3>
              <p class="w-full text-justify text-accent text-xs font-normal leading-4">
                {{ article.excerpt_or_content  | strip_html | truncate: 98 | default: 'Our more blogs hand pick by us' }}
              </p>
            </div>

            <!-- Read More Button -->
            <a href="{{ article.url }}" class=" group w-full px-6 py-3 btn-hover text-secondary border-secondary border flex justify-center items-center gap-1  transition-colors">
              <span class=" text-base font-normal font-figtree leading-relaxed">
                Read Full Blog
              </span>
               <svg xmlns="http://www.w3.org/2000/svg"
    class="w-6 h-6 text-secondary transition-colors duration-300 group-hover:text-white"
    fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
    <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
  </svg>
            </a>
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</section>
