<div class="mx-auto px-4 pb-24 overflow-hidden relative">
  <div class="flex flex-col items-center gap-8">
    <h2 class="text-center text-primary text-5xl font-normal font-catalina leading-[64px] w-full">
      {{ heading | default: "Brand that we featured" }}
    </h2>

    <div class="brand-slider overflow-hidden">
      <div class="inner-brand-slider flex flex-nowrap items-center gap-10 will-change-transform">
        {% for block in blocks %}
          <div class="flex items-center justify-center min-w-[150px] max-w-[300px]" {{ block.shopify_attributes }}>
            
            {% if block.settings.brand_image != blank %}
              {{ block.settings.brand_image | image_url: width: 182 | image_tag:
                  loading: 'lazy',
                  class: 'h-[150px] object-contain',
                  alt: block.settings.brand_alt | default: 'Brand Logo'
              }}
            {% else %}
              <div class="w-[{{ block.settings.logo_width | default: 200 }}px] h-[100px] bg-gray-100 flex items-center justify-center">
                <span class="text-gray-400">Brand {{ forloop.index }}</span>
              </div>
            {% endif %}
          
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
