{% assign page_type = request.page_type %}

{% if section_heading != blank %}

  

  <div class="w-[1012px] pb-[48px] mx-auto
     {% if page_type == 'index' %}
    mt-0
    {% else %}
     mt-24
     {% endif %}
    ">
    <h2 class="text-[48px] font-catalina text-center text-primary leading-[64px]">
      {{ section_heading }}
    </h2>
  </div>
{% endif %}

<div class="w-full flex gap-6 px-24 pb-24">

  <!-- Main Image Part -->
  <div class="lg:w-2/3 relative group overflow-hidden">
    {% if main_image != blank %}
      <img src="{{ main_image | image_url: width: 771, height:707 }}" alt="{{ main_title | escape }}" width="771" height="707"
        class="w-full h-auto object-cover object-left transition-transform duration-500 group-hover:scale-105" loading="lazy">
    {% else %}
      <img src="https://placehold.co/771x707" alt="Main Image Placeholder" width="771" height="707"
        class="w-full h-full object-cover object-left">
    {% endif %}

    <div class="absolute top-0 left-0 p-8 flex flex-col justify-between h-[calc(100%-5px)] bg-opacity-90 max-w-[310px]">
      <div class="space-y-6">
        <h3 class="text-primary text-[32px] font-normal font-catalina leading-[48px]">
          {{ main_title | default: "Woman's Fashion" }}
        </h3>
        <p class="text-accent text-lg font-normal font-catalina leading-7">
          {{ main_description | default: "The best of this season, Durable shoes made from chemical free cowhide leather. New arrivals that hand pick by us" }}
        </p>
      </div>

      <a href="{{ main_link }}" class="mt-6 px-6 py-3 border border-secondary inline-flex items-center gap-1 justify-center transition-colors">
        <span class="text-secondary text-[16px] font-normal font-figtree leading-relaxed">
          {{ main_button | default: "Explore More" }}
        </span>
        <span class="w-6 h-6 flex items-center justify-center">
          {% render 'icon-arrow' %}
        </span>
      </a>
    </div>
  </div>

  <!-- Right Side Cards Part -->
  <div class="lg:w-1/3 flex flex-col gap-6">
    
    <!-- Card 1 -->
    <div class="relative group overflow-hidden flex-1">
      {% if card_1_image != blank %}
       <img src="{{ card_1_image | image_url: width: 453, height:341 }}" alt="{{ card_1_title | escape }}" width="453" height="341"
  class="w-full h-full object-cover origin-right transition-transform duration-500 group-hover:scale-105" loading="lazy" style="object-position: 100% center">

      {% else %}
        <img src="https://placehold.co/453x341" alt="Card Image Placeholder" width="453" height="341"
          class="w-full h-full object-cover object-left">
      {% endif %}

      <div class="absolute top-0 left-0 p-4 max-w-[256px]">
        <div class="space-y-4">
          <h3 class="text-primary text-2xl font-medium font-figtree leading-9">
            {{ card_1_title | default: "Woman's Fashion" }}
          </h3>
          <p class="text-accent text-sm font-normal font-figtree leading-[20px]">
            {{ card_1_description | default: "The best of this season, Durable shoes made from chemical free cowhide leather. New arrivals that hand pick by us" }}
          </p>
        </div>

        <a href="{{ card_1_link }}" class="mt-4 px-6 py-3 border border-secondary inline-flex items-center gap-1 justify-center transition-colors">
          <span class=" text-secondary font-normal text-[16px] font-figtree leading-relaxed ">
            {{ card_1_button | default: "Explore More" }}
          </span>
          <span class="w-6 h-6 flex items-center justify-center">
            {% render 'icon-arrow' %}
          </span>
        </a>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="relative group overflow-hidden flex-1">
      {% if card_2_image != blank %}
        <img src="{{ card_2_image | image_url: width: 453, height:341 }}" alt="{{ card_2_title | escape }}" width="453" height="341"
  class="w-full h-full object-cover  origin-right transition-transform duration-500 group-hover:scale-105" loading="lazy"   style="object-position: 1% center;">

      {% else %}
        <img src="https://placehold.co/453x341" alt="Card Image Placeholder" width="453" height="341"
          class="w-full h-full object-cover object-left">
      {% endif %}

      <div class="absolute top-0 left-0 p-4 max-w-[256px]">
        <div class="space-y-4">
          <h3 class="text-primary text-2xl font-medium font-figtree leading-9">
            {{ card_2_title | default: "Woman's Fashion" }}
          </h3>
          <p class="text-accent text-sm font-normal font-figtree leading-[20px]">
            {{ card_2_description | default: "The best of this season, Durable shoes made from chemical free cowhide leather. New arrivals that hand pick by us" }}
          </p>
        </div>

        <a href="{{ card_2_link }}" class="mt-4 px-6 py-3 border border-secondary inline-flex items-center gap-1 justify-center transition-colors">
          <span class=" text-secondary font-normal text-[16px] font-figtree leading-relaxed ">
            {{ card_2_button | default: "Explore More" }}
          </span>
          <span class="w-6 h-6 flex items-center justify-center">
            {% render 'icon-arrow' %}
          </span>
        </a>
      </div>
    </div>

  </div>
</div>
