<div class="border p-[1rem] flex flex-col h-[30.3125rem] ">
  <a href="{{ product.url }}" class="block mb-[1rem]">
    <img
      src="{{ product.featured_image | image_url: width: 262, height: 279 }}"
      width="262"
      height="279"
      alt="{{ product.title }}"
      class="w-full h-[16rem] lg:h-[17.4375rem] object-cover mx-auto"
    />
  </a>

  <div class="flex flex-col flex-grow justify-between">
    <div>
      <a href="{{ product.url }}">
        <button class="text-primary font-semibold text-[1.125rem] leading-[1.75rem] mb-[0.25rem] hover:underline text-left">
          {{ product.title }}
        </button>
      </a>

      <p class="text-[1.40rem] lg:text-[1.5rem] leading-[2.25rem] font-bold mb-[0.75rem]">
        {{ product.price | money_without_currency }}$
      </p>
    </div>

    <div class="flex space-x-2 mb-[1rem]">
      {% assign color_options = product.options_with_values | where: "name", "Color" %}
      {% if color_options.size > 0 %}
        {% for option in color_options %}
          {% for value in option.values limit: 3 %}
            {% render 'color-swatches', value: value %}
          {% endfor %}
        {% endfor %}
      {% else %}
        <span class="w-[0.75rem] h-[0.75rem] rounded-full bg-gray-300"></span>
      {% endif %}
    </div>
  </div>

 <button
  type="button"
  data-variant="{{ product.variants.first.id }}"
  class="add-to-cart mt-auto border btn-hover border-secondary text-secondary text-[1rem] leading-[1.625rem] px-[1.5rem] py-[0.75rem] flex items-center justify-center"
>
  Add To Cart {% render 'icon-add-cart' %}
</button>

</div>
