{% if section.settings.section_heading != blank %}
  <div class="mt-12 md:mt-16 lg:mt-24 pb-12 ">
    <h2 class="text-2xl md:text-5xl font-catalina text-center text-primary leading-8 md:leading-[4rem]">
      {{ section.settings.section_heading }}
    </h2>
  </div>
{% endif %}

<div class="w-full flex flex-col gap-12 md:gap-16 lg:gap-24 px-4 md:px-12 lg:px-24 pb-12 md:pb-16 lg:pb-24">

  <!-- Card 1 -->
  <div class="relative group overflow-hidden">
    {% if section.settings.img1 != blank %}
      <img src="{{ section.settings.img1 | image_url: width: 1248 }}" alt="{{ section.settings.title1 | escape }}" width="1248" height="707"
        class="w-full h-[12.6756rem] md:h-[26.32rem] lg:h-[44.1875rem] object-cover transition-transform duration-500 group-hover:scale-105" loading="lazy">
    {% else %}
      <img src="https://placehold.co/1248x707" alt="Image 1 Placeholder" width="1248" height="707"
        class="w-full h-[13rem] md:h-[26.32rem] lg:h-[44.1875rem] object-cover ">
    {% endif %}

    <div class="absolute top-0 left-0 p-[0.57375rem] md:p-[1.19125rem] lg:p-8 flex flex-col justify-between h-[calc(100%-0.3125rem)] bg-opacity-90 max-w-[9rem] md:max-w-[15.67125rem] lg:max-w-[19.375rem]">
      <div class="space-y-[0.43rem] md:space-y-[0.893125rem] lg:space-y-6">
        <h3 class="text-primary text-2xl md:text-[1.19125rem] lg:text-[2rem] font-normal font-catalina leading-7 md:leading-[1.786875rem] lg:leading-[3rem]">
          {{ section.settings.title1 | default: "Woman's Fashion" }}
        </h3>
        <p class="text-accent text-[0.75rem] md:text-[1.0425rem] lg:text-lg font-normal font-catalina leading-[1rem] md:leading-[1.786875rem] lg:leading-7">
          {{ section.settings.desc1 | default: "Default description for image 1." }}
        </p>
      </div>

      <a href="{{ section.settings.link1 }}" class="  border border-secondary inline-flex items-center gap-1 justify-center transition-colors mt-1.5 md:mt-6 py-1 md:py-3 lg:px-6 w-2/3 md:w-1/2 lg:w-full text-secondary btn-hover">
        <span class="text-[0.5rem] md:text-[0.7rem] lg:text-[1rem] font-normal font-figtree leading-relaxed">
          {{ section.settings.btn1 | default: "Explore More" }}
        </span>
        <span class="w-[0.43rem] h-[0.43rem] md:w-[0.893125rem] md:h-[0.893125rem] lg:w-6 lg:h-6 flex items-center justify-center">
          {% render 'icon-arrow' %}
        </span>
      </a>
    </div>
  </div>

  <!-- Card 2 -->
   <div class="relative group overflow-hidden">
    {% if section.settings.img2 != blank %}
      <img src="{{ section.settings.img2 | image_url: width: 1248 }}" alt="{{ section.settings.title2 | escape }}" width="1248" height="707"
        class="w-full h-[12.6756rem] md:h-[26.32rem] lg:h-[44.1875rem] object-cover transition-transform duration-500 group-hover:scale-105" loading="lazy">
    {% else %}
      <img src="https://placehold.co/1248x707" alt="Image 1 Placeholder" width="1248" height="707"
        class="w-full h-[13rem] md:h-[26.32rem] lg:h-[44.1875rem] object-cover ">
    {% endif %}

    <div class="absolute top-0 left-0 p-[0.57375rem] md:p-[1.19125rem] lg:p-8 flex flex-col justify-between h-[calc(100%-0.3125rem)] bg-opacity-90 max-w-[9rem] md:max-w-[15.67125rem] lg:max-w-[19.375rem]">
      <div class="space-y-[0.43rem] md:space-y-[0.893125rem] lg:space-y-6">
        <h3 class="text-primary text-2xl md:text-[1.19125rem] lg:text-[2rem] font-normal font-catalina leading-7 md:leading-[1.786875rem] lg:leading-[3rem]">
          {{ section.settings.title2 | default: "Woman's Fashion" }}
        </h3>
        <p class="text-accent text-[0.75rem] md:text-[1.0425rem] lg:text-lg font-normal font-catalina leading-[1rem] md:leading-[1.786875rem] lg:leading-7">
          {{ section.settings.desc2 | default: "Default description for image 2." }}
        </p>
      </div>

      <a href="{{ section.settings.link2 }}" class="  border border-secondary inline-flex items-center gap-1 justify-center transition-colors mt-1.5 md:mt-6 py-1 md:py-3 lg:px-6 w-2/3 md:w-1/2 lg:w-full text-secondary btn-hover">
        <span class="text-[0.5rem] md:text-[0.7rem] lg:text-[1rem] font-normal font-figtree leading-relaxed">
          {{ section.settings.btn2 | default: "Explore More" }}
        </span>
        <span class="w-[0.43rem] h-[0.43rem] md:w-[0.893125rem] md:h-[0.893125rem] lg:w-6 lg:h-6 flex items-center justify-center">
          {% render 'icon-arrow' %}
        </span>
      </a>
    </div>
  </div>



</div>

{% schema %}
{
  "name": "Season Categories Section",
  "settings": [
    {
      "type": "text",
      "id": "section_heading",
      "label": "Section Heading",
      "default": "Spring styles to wear together or apart, whatever the weather."
    },
    {
      "type": "image_picker",
      "id": "img1",
      "label": "Image 1"
    },
    {
      "type": "text",
      "id": "title1",
      "label": "Image 1 Title"
    },
    {
      "type": "textarea",
      "id": "desc1",
      "label": "Image 1 Description"
    },
    {
      "type": "url",
      "id": "link1",
      "label": "Image 1 Link"
    },
    {
      "type": "text",
      "id": "btn1",
      "label": "Image 1 Button Text"
    },
    {
      "type": "image_picker",
      "id": "img2",
      "label": "Image 2"
    },
    {
      "type": "text",
      "id": "title2",
      "label": "Image 2 Title"
    },
    {
      "type": "textarea",
      "id": "desc2",
      "label": "Image 2 Description"
    },
    {
      "type": "url",
      "id": "link2",
      "label": "Image 2 Link"
    },
    {
      "type": "text",
      "id": "btn2",
      "label": "Image 2 Button Text"
    },
    
  ],
  "presets": [
    {
      "name": "Season Categories Section"
    }
  ]
}
{% endschema %}
